header {
    background: #56558e;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.search {
    margin-top: 50px;
    border: 1px solid gray;
    padding: 20px 0px;
    border-radius: 8px;
}

.detail {
    margin-top: 50px;
    border: 1px solid gray;
    padding: 20px 39px;
    border-radius: 8px;
}